.main {
  position: absolute;
  margin-left: 240px;
  top: 70px;
  width: calc(100% - 240px);
  height: 100%;
  /* z-index: -1; */
  transition: all 0.5s;
}

/* ------------------ Vehicle-search ------------------- */

.search {
  display: flex;
  justify-content: right;
}

.hide {
  display: none;
}

.search p {
  display: flex;
}

.search .icn {
  margin-top: 8px;
  margin-right: -42px;
  margin-left: 20px;
  z-index: 2;
}

.search input {
  height: 38px;
  padding-left: 50px;
  border-radius: 6px 0px 0px 6px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid rgb(145, 145, 145);
  margin-left: 10px;
  z-index: 1;
}

.search p button {
  width: 80px;
  background-color: #222;
  color: var(--white);
  border-radius: 0px 7px 7px 0px;
  border: none;
}

.search p button:hover {
  background-color: rgb(67, 67, 67);
  border: none;
}

/* ------------------------- Table ------------------------- */
.outer_table {
  overflow-x: scroll;
  margin: 6%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.outer_table p {
  color: #009879;
  font-size: 23px;
  margin-left: 5px;
  font-weight: 600;
  margin-bottom: 10px;
}

.grid_table {
  /* margin-left: 4%; */
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.grid_table thead {
  background-color: #e24f00;
  color: var(--white);
  text-align: left;
  /* padding: 1%; */
  margin-top: 1%;
  height: 50px;
  color: #ffffff;
  font-size: 17px;
  /* width: 200px; */
}
.grid_table thead th {
  margin: 30px;
  width: 300px;
  /* background-color: black; */
}

.grid_table button {
  background-color: #404040;
  color: var(--white);
  padding: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  width: 80px;
  font-size: 0.8rem;
}

.grid_table .edit_button {
  background-color: #000000;
}

.grid_table th,
.grid_table td {
  padding: 5px 15px;
}

.grid_table tbody tr {
  border-bottom: 1px solid #afafaf;
}

.grid_table tbody tr:nth-of-type(even) {
  background-color: #e4e4e4;
}

.grid_table tbody tr:last-of-type {
  border-bottom: 4px solid #f15000;
}

.grid_table tbody .active_row {
  color: #005d4a;
}

.addProjectbutton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.addProjectbutton button {
  background-color: #e24f00;
  color: #ffffff;
  border: none;
  padding: 7px;
  border-radius: 5px;
  width: 19%;
  height: 40px;
  font-size: 18px;
}

.subMain {
  display: grid;
  grid-template-columns: 15% 45%;
  justify-content: center;
  row-gap: 20px;
}

.labels {
  display: grid;
  /* background-color: green; */
  text-align: center;
}

.addProject {
  display: grid;
}
.actions {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 15% 18% 18%;
  justify-content: center;
  gap: 2%;
}
.actions p {
  color: #e24f00;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  padding-top: 15px;
}
.addProject label {
  margin-top: 15px;
  margin-bottom: 5px;
}
.addProject input {
  position: relative;
  height: 38px;
  width: 100%;
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 6px;
  padding: 0 15px;
  margin-right: 50px;
}

.actions2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 15% 25%;
  justify-content: center;
  gap: 2%;
}
.actions2 p {
  color: #e24f00;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  padding-top: 15px;
}

.addProject select {
  position: relative;
  height: 38px;
  width: 100%;
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 6px;
  padding: 0 15px;
  margin-right: 50px;
}

.projectTitle {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.page {
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.pendingButton {
  background-color: #444444;
  text-align: center;
  padding: 3.3%;
  margin-left: 1px;
  margin-right: 25px;
  border-radius: 5px;
  color: #ffffff;
}
.approveButton {
  background-color: green;
  text-align: center;
  padding: 3.3%;
  margin-left: 1px;
  margin-right: 25px;
  border-radius: 5px;
  color: #ffffff;
}
.declineButton {
  background-color: red;
  text-align: center;
  padding: 3.3%;
  margin-left: 1px;
  margin-right: 25px;
  border-radius: 5px;
  color: #ffffff;
}
